/* css */

body {
  font-family: "Maitree", serif;
}

header a {
  /* color: rgb(255, 255, 255); */

  font-size: 16px;
  text-decoration: none;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #headings {
  float: left;
}

header #headings {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
  /* color: white; */
  color: black;
}

header nav li:hover {
  color: #639a67;
}

.cc p {
  margin: 0;
  color: #b0a160;
}

.cont {
  margin: auto;
}

#splashzero {
  /* position: relative; */
  text-align: center;
  color: white;
  border-style: solid;
  background-clip: border-box;
  border-color: rgb(76, 100, 82);
  border-width: 0;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  margin-bottom: 10px;
  min-height: 400px;
  background-image: url("/img/mountains.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-top: 20px;
  width: 100%;
}

#splashzero h1 {
  margin-top: 100px;
}

.maiwell0 {
  font-family: "Arima Madurai", cursive;
  font-size: 2em;
}
/* .maiwell {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Arima Madurai", cursive;
  font-weight: 100;
  font-size: 4em;
}

.cee {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Arima Madurai", cursive;
  font-weight: 700;
} */

.midsect {
  padding-top: 15px;
  border-style: solid;
  background-clip: border-box;
  border-color: rgb(76, 100, 82);
  border-width: 0;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.midsectabout {
  padding-top: 15px;
  border-style: solid;
  background-clip: border-box;
  border-color: rgb(76, 100, 82);
  border-width: 0;
  border-top-width: 3px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  margin-bottom: 5px;
}

.blog0 {
  padding: 15px 30px;
  border-style: solid;
  background-clip: border-box;
  border-color: rgb(76, 100, 82);
  border-width: 0;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}
.blog0 img {
  width: 100%;
}

.blog {
  padding: 40px;
}

.blog p {
  text-align: justify;
}

.mymy p {
  padding-top: 160px;
  text-align: justify;
}

#midsectabout .mymy,
.purple {
  float: left;
  width: 50%;
  text-align: center;
  padding: 25px;
}

.purple img {
  height: auto;
  width: 100%;
}

.quote {
  text-align: center;
}

.space {
  height: 50vh;
}

.space img {
  display: block;
  margin: auto;
  opacity: 0.7;
}

/* ----------- Media Queries ----------- */

@media (max-width: 768px) {
  #midsectabout .mymy,
  .purple,
  header #headings,
  header nav,
  header nav li {
    float: none;
    text-align: center;
    width: 100%;
  }
  .mymy p {
    padding-top: 10px;
  }
}
