/* css */

body {
  background: #7a9b90;
  font-family: "Maitree", serif;
}
.cee p {
  margin: 0;
}

.chakra {
  height: 150px;
  width: 180px;
}
.headings div {
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.socials img {
  width: 40px;
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}
