<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Maitree&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;300;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>maindful site</title>
  </head>
  <body>
    <div id="app">
      <div class="container-fluid">
        <div v-if="view == 'home'">
          <header>
            <div class="container">
              <div id="headings"></div>
              <nav>
                <ul>
                  <li>
                    <a
                      class=""
                      @click="view ='about'"
                      tabindex="-1"
                      aria-disabled="true"
                      >About</a
                    >
                  </li>
                  <li>
                    <a
                      class=""
                      @click="view ='blog'"
                      tabindex="-1"
                      aria-disabled="true"
                      >Services</a
                    >
                  </li>
                  <li>
                    <a
                      class=""
                      @click="view ='blog'"
                      tabindex="-1"
                      aria-disabled="true"
                      >Blog</a
                    >
                  </li>
                  <li>
                    <a
                      class=""
                      @click="view ='blog'"
                      tabindex="-1"
                      aria-disabled="true"
                      >Contact</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </header>
          <section>
            <div id="splashzero">
              <h1>MAI WELLNESS</h1>
              <p>Coaching + Consulting</p>
            </div>
          </section>
          <section class="midsect">
            <div class="quote">
              <p>
                “One in five youth suffers with a diagnosable emotional, mental,
                or behavioral disorder. Yet, most of the youth who need care do
                not receive it.”
              </p>
            </div>
          </section>
        </div>
        <!-- end of div view HOME-->
        <div v-if="view == 'about'">
          <header>
            <div class="container">
              <div id="headings"></div>
              <nav>
                <ul>
                  <li>
                    <a
                      class="maiwell0"
                      @click="view ='home'"
                      tabindex="-1"
                      aria-disabled="true"
                      >MAI WELLNESS</a
                    >
                  </li>

                  <li>
                    <a
                      class="active"
                      @click="view ='about'"
                      tabindex="-1"
                      aria-disabled="true"
                      >About</a
                    >
                  </li>
                  <li>
                    <a
                      class=""
                      @click="view ='blog'"
                      tabindex="-1"
                      aria-disabled="true"
                      >Services</a
                    >
                  </li>
                  <li>
                    <a
                      class=""
                      @click="view ='blog'"
                      tabindex="-1"
                      aria-disabled="true"
                      >Blog</a
                    >
                  </li>
                  <li>
                    <a
                      class=""
                      @click="view ='blog'"
                      tabindex="-1"
                      aria-disabled="true"
                      >Contact</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </header>
          <!-- end of row headings -->

          <section id="midsectabout">
            <article id="mymy">
              <div>
                <p>
                  Maia is a licensed social worker and dedicated to supporting
                  the emotional health and wellness of teens. She works with
                  teenagers struggling with anxiety, depression, abuse, family
                  conflict, and trauma. Maia is particularly focused on teaching
                  young people how to improve their communication and coping
                  skills. She is dedicated to continuing the important
                  conversations surrounding mental health and well-being to
                  reduce the stigma of mental illness and increase access to
                  treatment.
                </p>
              </div>
            </article>
            <aside id="purple">
              <img src="./img/purplewoman.jpg" />
            </aside>
          </section>
          <!-- end of div midsect -->
          <div class="space"></div>
        </div>
        <!-- end of div view ABOUT app -->
        <div v-if="view == 'blog'">
          <header>
            <div class="container">
              <div id="headings"></div>
              <nav>
                <ul>
                  <li>
                    <a
                      class="maiwell0"
                      @click="view ='home'"
                      tabindex="-1"
                      aria-disabled="true"
                      >MAI WELLNESS</a
                    >
                  </li>

                  <li>
                    <a
                      class="active"
                      @click="view ='about'"
                      tabindex="-1"
                      aria-disabled="true"
                      >About</a
                    >
                  </li>
                  <li>
                    <a
                      class=""
                      @click="view ='blog'"
                      tabindex="-1"
                      aria-disabled="true"
                      >Services</a
                    >
                  </li>
                  <li>
                    <a
                      class=""
                      @click="view ='blog'"
                      tabindex="-1"
                      aria-disabled="true"
                      >Blog</a
                    >
                  </li>
                  <li>
                    <a
                      class=""
                      @click="view ='blog'"
                      tabindex="-1"
                      aria-disabled="true"
                      >Contact</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </header>
          <!-- end of row headings -->
          <section id="blog" class="row col-12">
            <div class="col-4"><img src="./img/bermuda.jpg" /></div>
            <div class="col-4"><img src="./img/chicago.jpg" /></div>
            <div class="col-4"><img src="./img/bali.jpg" /></div>
          </section>
          <section class="blog">
            <p>
              I was born and raised on the beautiful island of Bermuda. I earned
              my undergraduate degree in Psychology from Clark Atlanta
              University, and later my Master’s degree in Social Work from the
              University of Michigan. My studies were concentrated in
              interpersonal practice with children and families. As a graduate
              student, I was awarded a Public Child Welfare Fellowship where I
              received clinical training in the forensic interviewing of
              children in sexual abuse cases, cultural competence in child
              welfare, and courtroom skills necessary in child maltreatment
              cases.
            </p>

            <p>
              Following graduate school, I worked as a family therapist for
              Catholic Charities in Chicago. Here I gained valuable experience
              providing home-based counseling to children and families in foster
              care. I later relocated to Atlanta where I worked as a contractor
              for Oasis Counseling providing home-based counseling for parents
              involved with the child welfare system. Both experiences helped me
              to understand the value of home visits for assessment and case
              planning in child welfare, and the importance of meeting families
              where they are. I later joined the Fulton County Department of
              Family & Children Services as a Child Protective Services
              Investigator where I worked on the front lines to ensure the
              safety and well-being of children in homes where there may be
              abuse or neglect.
            </p>
            <p>
              My greatest joy has been working in my current capacity as a
              school social worker. School is a major source of stress for
              youth, and it is here that I have an opportunity to build
              meaningful relationships with students. I work to inspire and
              support students individually, in groups, workshops, and through
              mindfulness practices. I truly believe that a healthy mind can
              play a part not only in quality of life improvements but also in a
              person’s prognosis. In 2013, I started the first school-based
              mental health program in Fulton County Schools. The partnership
              between Tri-Cities High School and Odyssey Family Counseling
              allowed us to address student mental health needs in a
              comprehensive way to support positive behavioral changes.
              Eliminating student barriers to access mental health services was
              a critical need that I worked to address to improve outcomes for
              children in school.
            </p>

            <p>
              In 2015, after a trip to Bali, I developed an interest in
              meditation and mindfulness. With its beautiful views, tranquil
              surroundings, and rich spiritual heritage, I fell in love with the
              island. The Balinese people have a gentle and kind way of being. I
              remember how peaceful I felt on the trip. When I returned home,
              there was a busyness of life that was distinctly different. It did
              not afford the opportunity to be still and quiet the mind. Over
              the years, I have learned that this busyness forces our brains
              into a different way of behaving. Practicing mindfulness has been
              transformative in my personal and professional life….
            </p>
          </section>
          <!-- end of section blog-->
        </div>
        <!-- end of div BLOG view -->

        <footer>
          <div id="foot">
            <img src="./img/heart-chakra-symbol.png" />

            <p>(404) 555-1234</p>
            <p>mai@maiwellnessco.com</p>
            <p>&copy2020 MAI Wellness</p>
            <p>
              site by
              <a href="https://www.solisolu.com" target="_blank" class="soli"
                >SoliSolu</a
              >
            </p>
          </div>
        </footer>
      </div>
      <!-- end of div container-fluid -->
    </div>
    <!-- end of div id app -->

    <!-- scripts -->
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <!-- BOOTSTRAP -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <!-- VUE.js -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <!-- JS -->
    <script src="js/main.js"></script>
  </body>
</html>
