<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Maitree&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;300;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>maindful</title>
  </head>
  <body>
    <div id="app">
      <div class="container-fluid">
        <div v-if="view == 'home'">
          <div class="row headings">
            <div class="col-4"></div>
            <div class="col-2">
              <a
                class=""
                @click="view ='about'"
                tabindex="-1"
                aria-disabled="true"
                >About</a
              >
            </div>
            <div class="col-2">
              Services
            </div>
            <div class="col-2">
              Blog
            </div>
            <div class="col-2">
              Contact
            </div>
          </div>
          <!-- end of row headings -->
          <div class="splashzero">
            <div class="splash">
              <img src="./img/mountains.jpg" />
              <div class="maiwell">MAI WELLNESS</div>
              <div class="cee">
                <p>Coaching + Consulting</p>
              </div>
            </div>
          </div>
          <div class="row midsect"></div>
        </div>
        <!-- end of div view HOME-->
        <div v-if="view == 'about'">
          <div class="row headings">
            <div class="col-2">
              <a
                class=""
                @click="view ='home'"
                tabindex="-1"
                aria-disabled="true"
                >mai wellness</a
              >
            </div>
            <div class="col-2 cc">
              <p>Coaching</p>
              <p>+</p>
              <p>Consulting</p>
            </div>

            <div class="col-2">
              About
            </div>
            <div class="col-2">
              Services
            </div>
            <div class="col-2">
              Blog
            </div>
            <div class="col-2">
              Contact
            </div>
          </div>
          <!-- end of row headings -->
          <div class="splashzero">
            <div class="splash">
              <img src="./img/mountains.jpg" />
            </div>
          </div>
          <div class="row midsect">
            <div class="mymy col-6">
              <p>
                Maia is a licensed social worker and dedicated to supporting the
                emotional health and wellness of teens. She works with teenagers
                struggling with anxiety, depression, abuse, family conflict, and
                trauma. Maia is particularly focused on teaching young people
                how to improve their communication and coping skills. She is
                dedicated to continuing the important conversations surrounding
                mental health and well-being to reduce the stigma of mental
                illness and increase access to treatment.
              </p>
            </div>
            <div class="col-6">
              <div class="teentalk">
                <img src="./img/teentalks.png" />
              </div>
            </div>
          </div>
        </div>
        <!-- end of div view ABOUT app -->
      </div>
      <!-- end of div container-fluid -->
    </div>
    <!-- end of div id app -->

    <!-- scripts -->
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <!-- BOOTSTRAP -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <!-- VUE.js -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <!-- JS -->
    <script src="js/main.js"></script>
  </body>
</html>
